<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Social Tracker</title>
<head>
<style>
html {
    min-width: 1040px;
}
body {
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 4em;
    position:relative;
    background-color: rgb(100,100,100);
}
#body {
    position: left;
}

.display{
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 15em;
  color: #FFFFFF;
}
</style>

<script type="text/javascript">
var ws = null;

function open(){
  ws = new WebSocket("ws://"+window.location.host+"/ws");
  ws.onopen = function(evt) {};
  ws.onclose = function(evt) {
      open();
  };

  ws.onmessage = function(evt){
    try{
      var evnt = JSON.parse(evt.data);
      display(evnt);
    }catch(e){}
  }

  setInterval(function(){
    ws.send("ping");
  }, 21000)
}

function display(tweet){
  console.log(tweet);
  var t = document.createElement("div");
  var text = document.createTextNode(tweet.data.text);
  t.appendChild(text);
  t.className = "tweet";
  var tweets = document.getElementById("tweets");
  tweets.appendChild(t);
}

</script>

</head>
<body>
<div id="tweets"></div>
<script type="text/javascript">
open();
</script>

</body>
